* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body {
    direction: ltr !important;
    background-color:#ffffff !important;
}

:root {
  
    --color:#fd7e15;
    --main-color: #242424;
    --font-color:#323232;
    --background:#ffffff;
    --header-size: 25px;
    --text-size: 14px;
    --icon-size: 16px;
    --border-redius: 5px;
    --padding-size: 10px;

}

/*style of links*/
a {
    color:var(--font-color);
    font-size: 15px !important;
    text-decoration: none !important;
}
a:hover{
    color:var(--color) !important;
    text-decoration: none !important;
}
i {
    font-size: 16px !important;
   padding-right: 10px !important;
}

ul {
    list-style: none !important;
    text-transform: capitalize !important;
}

/*start dashboard style*/
.Dashboard {
    height: 100vh;
    width: 250px;
    display: flex;
    flex-direction: column;
    align-content: center;
    text-align: center;
    position: fixed;
    left: 0px;
    top: 0px;
    z-index: 1000;
    background-color: var(--background);
}
.Dashboard.hidden {
    left: -250px;
    transition: all .3s;
    transition-timing-function: ease-in;
}
.container1 {
    height: auto;
    width: 100%;
    padding-left: 250px;
    margin: auto;

}
.container1.show {
    transition: all .3s;
    transition-timing-function: ease-in;
    padding-left: 0px;
}

.page-navbar{
height: 80px;
width:100%;
display: flex;
justify-content:space-between;
flex-wrap: nowrap;
align-items: center;
}
.page-address,
.notification{ 
 padding: 20px;
 line-height: 10px;
} 

.page-address h3{
    font-size: 30px;
    font-weight: bolder;
}
.fa-message,
.fa-bell
{
    padding:10px;
    border-radius: 5px;
    border:2px solid #eee;
}
.setting{
    color:white;
    padding: 10px;
    text-align: center;
background-color: #242424;
border-radius: 5px;
}
.setting:hover{
    color:#fd7e15;
}

/*logo style*/
.logo {
  padding-top: 20px;
    text-align: center;
    font-size: 20px;
    font-weight: bolder;
    margin-bottom: 50px;
}
.logo i{
    font-size: 20px !important;
}

/*links style*/
.links{
    width: 100%;
    height:70%;
    overflow-y: auto;
}

.links li {
    display: inline-block;
    padding: 10px;
    text-align: center;
}

.links a {
    padding: 10px 20px;
    border-radius: 5px;
}

/***active class***/
.links a.active {
    background-color:var(--main-color);
    color: white;
    text-decoration: none;
}

/*user style*/
.user {
    position:absolute;
    bottom: 0px;
    margin: auto;
    align-self: center;
}

.user-img img {
    height: 50px;
    width: 50px;
    border-radius: 50%;
}

.user-name span {
    padding: 10px;
    margin: 5px;
}

.user-name .name {
    color: black;
    font-weight: bold;
}
.user-name .phone a {
    padding: 5px;
    font-size: 16px;
    color: rgb(119, 118, 118);

}

.logout {
    padding: 10px;
    margin-top: 5px;
}
.logout .fa-right-from-bracket,
.logout .fa-gear {
    padding:10px;
    border: #dedddd solid 2px;
    border-radius: 5px;
    margin-left: 3px;
    cursor: pointer;
}
/*end style of user*/
@media (max-width:991px) {
    .container1 {
        padding-left: 0px;
    }
    .Dashboard {
        width: 230px;
        left: -230px;
    }
    .Dashboard.hidden {
        left: 0px;
    }
  
    .page-navbar{
        width: 100%;
    }
    .page-address{
         white-space: nowrap;
        line-height: 20px;
       font-size: 16px;
    }
    .page-address h3{
        font-size: 18px;
    }
    .notification{
        padding-left: 10px;
        white-space: nowrap;
        width: 70%;
    }
}

/*************** add user*****************/
.all-fields {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content:space-evenly;
    align-items: center;

}
.input-field {
    width: 50%;
    padding: 20px 20px;
}

.input-field label{
    font-size: 16px;
    font-weight: bold;
    color:var(--main-color);
}
.input-field input {
    width: 100%;
    height: 40px;
    border: none;
    outline: none;
    margin-top: 10px;
     background-color:#eee; 
    border-bottom: 2px solid var(--main-color);
 
}
.file {
    width: 100%;  
}
.file #userPhoto{
    border: none;
    background-color: white;
}
.photo {
    display: none;
    margin: auto;
    border-radius: 30px;
}

.photo.show{
    display: block;
}

.submit {
    width: 100%;
    margin-top: 30px;  
}

input[type="submit"] {
    width: 100px;
    border: none;
    border-radius: 5px;
    background-color:var(--main-color);
    color: white;

}
input[type="submit"]:hover{
    color:var(--color);
}
.massage{ 
    margin-top: 20px;
    height: 35px;
    width:97%;
    margin: auto;
    border-radius: 5px;
    color:white;
    background-color:var(--main-color);  
    text-align: center;
    padding: 5px;
}
.massage.success{
    background-color:#242424;
    color:white;
}
.massage.faild{
 background-color: #eee;
 color:#fd7e15;

}
/***/

@media (max-width:767px) {
    .container1 {
        width: 100%;
        padding-left: 0px;
    }
    .all-fields{
        width: 100%;
        display: flex;
        justify-content:center;
        align-items: center;
        padding:10px;
    }
    .input-field {
        padding:10px;
        width: 100%;  
    }
    .input-field input{
        width: 100%;
    }
    .massage {
        width: 95%;
    }
    input[type="submit"] {
        width: 100%;
        margin-left: 0px;
    }
}
